name: Packager

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write  # Allows the action to upload the zip to the Release page
# --------------------------------------

jobs:
  release:
    runs-on: ubuntu-latest
    env:
      CF_API_KEY: ${{ secrets.CF_API_KEY }}
      GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Package and Upload
        uses: BigWigsMods/packager@v2
        with:
          args: -w -c